
@using userCase.Models
@model RefreshPasswordViewModel
@{
    ViewData["Title"] = "Yeni Şifre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<link href="~/css/login-register.css" rel="stylesheet" /> 
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">Yeni Şifre Belirle </h1>
                </div>
                <div class="main-content">
                    @Html.ValidationSummary(false)
                    <form asp-action="Register" asp-controller="Home">
                        <div class="form-group">
                            <label asp-for="email"></label>
                            <input asp-for="email" class="form-control" placeholder="E-Posta" />
                        </div>
                        <div class="form-group">
                            <label asp-for="password"></label>
                            <input asp-for="password" class="form-control" placeholder="Yeni Şifre" />
                        </div>
                        <div class="form-group">
                            <label asp-for="newpassword"></label>
                            <input asp-for="newpassword" class="form-control" placeholder="Yeni Şifre Tekrar" />
                        </div>
                        <div class="form-group">
                            <input asp-action="ResreshPassword" asp-controller="Home" class="btn btn-danger" value="Şifreyi Yenile"  type="submit" />
                        </div>
                    </form>>
                </div>
            </div>
        </div>
    </section> 


